/*----------------------------- nav style------------------------------- */

.header {

    display: flex;
    justify-content: space-between;


}


.menu-bar1 {

    color: #131313;
    font-weight: 700;
    font-size: 45px;

    text-align: center;

    font-family: 'Work Sans', sans-serif;
    margin-left:50px;


    height: 53px;
    margin-bottom: 0;
}


.menu-bar {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    width: 477px;
    height: 26px;
    font-family: 'Work Sans', sans-serif;

    text-align: center;
    gap: 30px;
    margin-top: 63px;
    margin-left: 600px;





}

/* .hr {

   
    background: rgba(255, 144, 14, 0.1);
        margin-top: 50px;
        margin-bottom: 0;

} */

/*----------------- main part/1st info---------------------  */


.first-info {

    text-align: center;
    margin-top: 102px;




}

.first-title {

    color: #131313;
    font-weight: 700;
    font-size: 64px;
    font-family: 'Work Sans';
    margin-bottom: 0;


}

.first-description {

    color: #727272;

    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;

}

.button1 {

    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-family: 'Work Sans', sans-serif;
    margin-top: 32px;



}

.image1 {
    margin-top: 50px;

    width: 90vw;
    overflow-x: hidden;
    padding: 0.8em 0;

    margin-left: 50px;









}

.image4 {

    display: flex;
    gap: 10px;
    margin-top: 130px;
    margin-left: 70px;

    width: 50vw;
    overflow-x: hidden;
    padding: 0.8em 0;

}

.minibabu {

    margin-bottom: 10px;

}

.minibabu2 {

    margin-bottom: 10px;
}

.pic-sideinfo {

    display: flex;

}

.side-info {

    margin-top: 300px;
    margin-left: 40px;




}

.side-info-title {

    font-weight: 500;
    font-size: 45px;
    color: #727272;
    font-family: 'Work Sans';
    margin-bottom: 10px;

}

.of-our {
    color: #131313;
    font-weight: 700;
    font-size: 45px;

}

.features {

    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.side-info-description {

    color: #727272;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Work Sans';
    margin-bottom: 10px;
}



/* <!----------------- Features you will love & enjoy------------------------------> */
.big-part {

    margin-left: 100px;
    margin-top: 150px;
}



.title-1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    font-family: 'Work Sans';
    border-left: 5px solid #FF900E;
    ;

    padding-left: 20px;

}

.description1 {

    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 0;
    font-family: 'Work Sans';
    margin-bottom: 60px;

}

.title-2,
.title-3,
.title-4,
.title-5 {


    color: #131313;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Work Sans';


    line-height: 5px;



}

.description2,
.description3,
.description4,
.description5 {

    font-weight: 400;
    font-size: 16px;
    color: #727272;
    font-family: 'Work Sans';
    margin-bottom: 60px;



}

.div1,
.div2,
.div3,
.div4 {


    padding-left: 20px;
}

.main-part {

    display: flex;

}

.big-img {

    margin-top: 140px;
    margin-left: 40px;
    width: 90vw;
    overflow-x: hidden;
    padding: 0.8em 0;
}


.button-part {

    background: #FF900E;
    border-radius: 8px;
    width: 270px;
    height: 170px;
    border: none;

    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Work Sans';

    line-height: 30px;




}



.small-size {
    font-weight: 500;
    font-size: 25px;


}

.button3 {
    position: absolute;
    top: 3150px;
    left: 500px;

}



.title-6 {

    color: #131313;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Work Sans';

    line-height: 5px;



}

.Some-Facts {

    margin-top: 230px;

    margin-left: 80px;
}



/* border bos 4 */

.container {




    line-height: 5px;

    margin-left: 150px;
    display: flex;

    gap: 80px;
    align-items: center;




}

.container img {
    margin-top: 25px;
}

.row1,
.row2,
.row3,
.row4 {

    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    height: 200px;

    margin-top: 25px;
    margin-left: 0px;

}

.row1:hover {

    background-color: rgb(227, 172, 101);

}

.row2:hover {

    background-color: aqua;

}

.row3:hover {

    background-color: rgb(171, 142, 233);

}

.row4:hover {

    background-color: rgb(228, 113, 174);

}

.hadding {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    font-family: 'Work Sans';

}

.text {

    color: #727272;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Work Sans';
}





/* -------------------------low part--------------------------- */


.last-part {
    text-align: center;
    margin-top: 180px;

}

.last-title {

    font-weight: 700;
    font-size: 45px;
    color: #131313;
    font-family: 'Work Sans';
    margin-bottom: 24px;

}

.last-description {



    color: #727272;
    font-weight: 400;
    font-size: 16px;

    font-family: 'Work Sans';
}


/* --------------------------logo-------------------- */

.logo {

    display: flex;
    margin-top: 50px;
    gap: 50px;
    margin-left: 150px;

    mix-blend-mode: luminosity;
    width: 181.67px;
    height: 50px;

    filter: invert(50%);
    -webkit-filter: invert(50%);

}

.footer {
    border: 1px solid #FFF4E7;
    background: #FFF4E7;
    border-radius: 8px;






    margin-top: 169px;
    margin-bottom: 103px;
    text-align: center;
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Work Sans';
}





/* -----------------------------------@media____________________________________________ */


@media only screen and (max-width: 640px) {

    body,
    html {
        width: 100vw;
        overflow-x: hidden;
        padding: 0.8em 0;

    }

    .header {


        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;

    }

    .menu-bar {

        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }






    .first-info {

        text-align: center;
        flex-direction: column;
        margin-top: 250px;



    }






    .image1 {

        width: 100%;




    }

    .image4 {

        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;


    }



    .pic-sideinfo {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;

    }

    .side-info {

        margin-top: 0px;
        margin-left: 0px;



    }

    .side-info-title {

        font-weight: 500;
        font-size: 45px;
        color: #727272;
        font-family: 'Work Sans';

    }

    .of-our {
        color: #131313;
        font-weight: 700;
        font-size: 45px;

    }

    .features {

        font-weight: 700;
        font-size: 45px;
        color: #FF900E;
    }

    .side-info-description {

        color: #727272;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Work Sans';
    }



    /* <!----------------- Features you will love & enjoy------------------------------> */
    .big-part {

        margin-left: 0px;
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }



    .title-1 {
        margin-top: 20px;

    }

    .description1 {

        font-weight: 400;
        font-size: 16px;
        color: #727272;
        margin-top: 0;
        font-family: 'Work Sans';
        margin-bottom: 0px;

    }

    .title-2,
    .title-3,
    .title-4,
    .title-5 {




        line-height: 30px;



    }

    .description2,
    .description3,
    .description4,
    .description5 {

        margin-bottom: 20px;



    }


    .main-part {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        margin-top: 0;

    }

    .big-img {

        margin-top: 0px;
        margin-left: 0px;
        max-width: 100%;


    }


    .button-part {
        margin-top: 0;
        margin-left: 0;



    }



    .button3 {

        top: 5200px;
        left: 0px;
        width: 0px;
        height: 0px;




    }



    .title-6 {

        margin-left: 0px;




    }

    .Some-Facts {

        margin-top: 0px;

        margin-left: 0px;
    }



    /* border bos 4 */

    .container {



        gap: 0;


        margin-left: 30px;
        margin-bottom: 100px;

        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }




    /* -------------------------low part--------------------------- */


    .last-part {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;

    }


    /* --------------------------logo-------------------- */

    .logo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 110px;
        gap: 15px;
        margin-bottom: 350px;


    }

    .footer {


        margin-top: 1500;
        margin-bottom: 500px;

    }















}